<h3>How time and activities affect your condition</h3>

<p>Tell us about activities that make your condition worse or better. What helps? What doesn't help?</p>

<%= simple_form_for(@record, html: { method: :put }) do |f| %>
  <table>
    <thead>
      <th>Name</th>
      <% human_keys(RecordsActivity.scores.keys).each do |score_hash| %>
        <th><%= score_hash.first %></th>
      <% end %>
    </thead>

    <tbody>
      <% Activity.all.each do |activity| %>
        <%= render 'records_activities/form', activity: activity, f: f %>
      <% end %>
    </tbody>
  </table>

  <%= f.submit "Save", class: :btn %>
<% end %>
