<h3>How time and activities affect your condition</h3>

<p>Tell us about activities and times of day that affect your condition. What makes it better? What makes it worse?</p>

<%= simple_form_for(@record, html: { method: :put }) do |f| %>
  <table>
    <thead>
      <th>&nbsp;</th>
      <% human_keys(RecordsActivity.scores.keys).each do |score_hash| %>
        <th><%= score_hash.first %></th>
      <% end %>
    </thead>

    <tbody>
      <% Activity.all.each do |activity| %>
        <%= render 'records_activities/form', activity: activity, f: f %>
      <% end %>
    </tbody>
  </table>

  <div class="actions">
    <%= f.submit "Save", class: :btn %>
  </div>
<% end %>
