<h3>How time and activities affect your condition</h3>

<p>Tell us about things that make your condition worse or better. What helps? What doesn't help?</p>

<%= simple_form_for(@record, html: { method: :put }) do |f| %>
  <table>
    <thead>
      <th>Name</th>
      <% human_keys(RecordsThing.scores.keys).each do |score_hash| %>
        <th><%= score_hash.first %></th>
      <% end %>
    </thead>

    <tbody>
      <% Thing.all.each do |thing| %>
        <%= render 'records_things/form', thing: thing, f: f %>
      <% end %>
    </tbody>
  </table>

  <%= f.submit "Save", class: :btn %>
<% end %>
