<h3><%= "New entry for #{@condition}" %></h3>

<div class="new-record">
  <%= render 'records/form', record: Record.new, condition_id: @condition.id %>
</div>

<h3>Experiences</h3>
<p>
  We will ask you multiple-choice questions about your experiences in these areas
</p>
<p>
</p>
  All sections and all questions in any section are optional. Please answer the ones you can, and skip any if
  you don't know the answer or prefer not to share that information.
<ol>
  <li>Time of day and activities</li>
  <li>Medicines</li>
  <li>Vitamins</li>
  <li>Treatments</li>
</ol>

<p>
  When you get to the end, we'll show you a summary of the data you entered, and an option to view a summary of the data
  we have from others
</p>
