<h3>Books</h3>

<p>What do you think of these books?</p>

<%= simple_form_for(@record, html: { method: :put }) do |f| %>
  <table class="questions">
    <thead>
      <th>&nbsp;</th>
      <% human_keys(RecordsMedicine.scores.keys).each do |score_hash| %>
        <th><%= score_hash.first %></th>
      <% end %>
    </thead>

    <tbody>
      <% Medicine.all.each do |medicine| %>
        <%= render 'records_medicines/form', medicine: medicine, f: f %>
      <% end %>
    </tbody>
  </table>

  <div class="actions">
    <%= f.submit "Save", class: :btn %>
  </div>
<% end %>
