body {
  margin: 5px;
}

.main {
  height: 100%;
}

.alert {
  margin: 20px 0;
  border: 2px solid red;
  border-radius: 5px;
  padding: 10px;
}

@media (min-width: 768px) {
  .main {
    margin: 20px;
  }

  .col {
    width: 49%;
    min-height: 520px;
    float: left;
  }
}
