tbody tr {
  &:nth-child(4n-2) {
    background: $lightgrey;
  }
}

th, td {
  font-size: 14px;
  width: 90px;
  text-align: center;
  padding: 5px 0;
  word-break: break-word;
}

td.first {
  font-size: 15px;
  text-align: left;
  width: 135px;
  padding-left: 4px;
}
