<h3>Activity Overview</h3>
<table class="full-data">
  <thead>
    <% @activities.each do |activity| %>
      <th><%= activity %></th>
    <% end %>
  </thead>
  <tbody>
    <% @records.each do |record| %>
      <% next unless record.records_activities.any? %>
      <tr>
        <% @activities.each do |activity| %>
          <% ra = record.records_activities.where(activity_id: activity.id)&.first %>
          <% if ra %>
            <% score = ra.read_attribute_before_type_cast(:score) %>
            <td class='<%= score_to_num(score) %>'></td>
          <% else %>
            <td>&nbsp;</td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
    <tr>
      <% @positive_map.each do |pos| %>
        <td><%= pos %></td>
      <% end %>
    </tr>
    <tr>
      <% @negative_map.each do |neg| %>
        <td><%= neg %></td>
      <% end %>
    </tr>
  </tbody>
</table>
